<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Users List</title>
</head>
<body>
<h1>Full list of users</h1>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Full name</th>
      <th>phoneNumbers</th>
    </tr>
    <tr th:each ="user : ${users}">
      <td th:utext="${user.fullName}">...</td>
      <td th:utext="${user.phoneNumber}">...</td>
    </tr>
  </table>

  <a th:href="@{/}">Main page</a>
</div>
</body>
</html>